APP_TITLE=Бронирование мест в кафе
APP_DESC=Сервис бронирования мест в кафе

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=cafe_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECRET=SUPER_SECRET_KEY
FIRST_SUPERUSER_EMAIL=superuser@example.com
FIRST_SUPERUSER_PASSWORD=super_password
