alembic==1.17.2
fastapi==0.124.2
psycopg2-binary==2.9.11
asyncpg==0.30.0
pydantic[email]==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
SQLAlchemy==2.0.45
ruff==0.11.11
pre-commit==4.2.0
uvicorn==0.38.0
loguru==0.7.3